<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.zym.blog.dao.LikeDao" >
  <resultMap id="BaseResultMap" type="com.zym.blog.model.Like" >
    <id column="like_id" property="likeId" jdbcType="INTEGER" />
    <result column="like_man" property="likeMan" jdbcType="VARCHAR" />
    <result column="like_time" property="likeTime" jdbcType="TIMESTAMP" />
    <result column="like_ip" property="likeIp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    like_id, like_man, like_time, like_ip
  </sql>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zym.blog.model.example.LikeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_like
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByExampleAndPage" resultMap="BaseResultMap" parameterType="com.zym.blog.model.example.LikeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_like
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <select id="countByExample" parameterType="com.zym.blog.model.example.LikeExample" resultType="java.lang.Integer" >
    select count(*) from t_like
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_like
    where like_id = #{likeId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_like
    where like_id = #{likeId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zym.blog.model.Like" useGeneratedKeys="true" keyProperty="likeId" >
    insert into t_like
    <trim prefix="(" suffix=")" suffixOverrides="," >
      like_man,
      like_time,
      like_ip,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{likeMan,jdbcType=VARCHAR},
      #{likeTime,jdbcType=TIMESTAMP},
      #{likeIp,jdbcType=VARCHAR},
    </trim>
  </insert>
</mapper>